/* $Id$ */

#fields td.region {
  font-weight: bold;
}
#fields tr.region-message {
  font-weight: normal;
  color: #999;
}
#fields tr.region-populated {
  display: none;
}
.field-region {
  background-color: #ff6;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 3px;
}
tr.region-css-disabled  {
  filter:alpha(opacity=60);
  -moz-opacity:0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
}
.render-region .form-item {
	margin-top: 0;
	margin-bottom: 0;
}
span.label-field, span.label-edit {
  padding:2px;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:24px;
}
span.label-field {
  font-size: 13px;
  float: left;
}
span.label-edit {
  font-size: 11px;
  float: right;
}
#fields-content {
	display: block;
}
#plugins-content {
  display: none;
}
#display-tabs {
  display: block;
}
#field-tab {
  float: left;
}
#plugin-tab {
  float: left;
  margin-left: 20px;
}
#ds-overview-page .ds-row-title {
  font-weight: bold;
  background: #E4F0F8 none repeat scroll 0 0;
  font-size: 14px;
}
#ds-overview-page .ds-row-type {
  background: #fff none repeat scroll 0 0;
  border: 0 none;
}