/* $Id$ */

.ds-region-header {
  clear: both;
}

.ds-region-left {
  clear: left;
  float: left; 
}

.ds-region-middle {
  float: left;
  clear: none;
}

.ds-region-right {
  float: right;
}

.ds-region-footer {
  clear: both;
}

/* default region dimensions */

.ds-region-left {
  width: 25%;
}

.ds-region-right {
  width: 25%;
}

/* middle region */

div.no-sidebars {
  width: 100%;
  float: none;
  clear: left;
}

div.sidebar-left {
  width: 75%;
}

div.sidebar-right {
  width: 75%;
  clear: left;
}

div.two-sidebars {
  width: 50%;
  float: left;
}

/* Region inner divs. Add borders, padding and margin here */

.ds-region-header .ds-region-inner {
}

.ds-region-left .ds-region-inner { 
}

.ds-region-middle .ds-region-inner { 
}

.ds-region-right .ds-region-inner { 
}

.ds-region-footer .ds-region-inner { 
}
