
.ds-2col-stacked-fluid .group-header {
}

.ds-2col-stacked-fluid .group-left {
  float: left;
  width: 50%;
}

.ds-2col-stacked-fluid .group-right {
  float: right;
  width: 50%;
}

.ds-2col-stacked-fluid.group-one-column .group-left,
.ds-2col-stacked-fluid.group-one-column .group-right {
	width: 100%;
	float: none;
}

.ds-2col-stacked-fluid .group-footer {
  clear: both;
}
